name: Fitbot Schedule

on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:

jobs:
  run-fitbot:
    runs-on: ubuntu-latest
    steps:
      - name: Run fitbot
        run: >
          docker run 
          --entrypoint /bin/sh 
          pablobuenaposada/fitbot 
          -c "uv run python src/main.py --email='${{pedro.jmg@gmail.com}}' --password='${{Frenos2010}}' --booking-goals='{\"2\":{\"time\":\"1800\",\"name\":\"Crosstraining\"}}' --box-name='boxkairos' --box-id='10381' --days-in-advance=2"
