name: Fitbot Schedule

on:
  schedule:
    - cron: "0 8 * * *" # Se lanza a las 09:00 AM hora España (Invierno)
  workflow_dispatch:     # Permite el botón "Run workflow" manual

jobs:
  run-fitbot:
    runs-on: ubuntu-latest
    steps:
      - name: Run fitbot
        run: >
          docker run 
          --entrypoint /bin/sh
          -e PYTHONHTTPSVERIFY=0
          -e PYTHONWARNINGS="ignore:Unverified HTTPS request"
          pablobuenaposada/fitbot
          -c "uv run python -c \"import requests; from requests.packages.urllib3.exceptions import InsecureRequestWarning; requests.packages.urllib3.disable_warnings(InsecureRequestWarning);\" && uv run python src/main.py --email='${{ secrets.EMAIL }}' --password='${{ secrets.PASSWORD }}' --booking-goals='{\"2\":{\"time\":\"1800\",\"name\":\"Crosstraining\"}}' --box-name='boxkairos' --box-id='10381' --days-in-advance=2 --proxy='${{ secrets.PROXY }}'"
