name: Scheduled FitBot run

on:
  schedule:
  - cron: "18 * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Run fitbot
        run: >
          docker run 
          -e email=${{ secrets.EMAIL }} 
          -e password=${{ secrets.PASSWORD }} 
          -e booking-goals='${{ vars.BOOKING_GOALS }}' 
          -e box-name=${{ vars.BOX_NAME }} 
          -e box-id=${{ vars.BOX_ID }} 
          -e days-in-advance=${{ vars.DAYS_IN_ADVANCE }} 
          -e proxy=${{ secrets.PROXY }} 
          pablobuenaposada/fitbot
